#head
{
    align-content: flex-end;
    margin-bottom: 0px;
    margin-top: 0px;
}
body
{
    display: flex;
    flex-direction: row;
}
#head2
{
    text-align: right;
}
.image1
{
    padding-bottom: 50px;
    order: 0;
}
.main-portion
{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 50px;
    order: 1;
}
.subhead
{
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -100px;
    order: 1;
}
.first
{
    margin-top: 20px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.asideportion
{
    width: 20%;
    padding-top: -150px;
    display: flex;
    flex-direction: column;
    order: 0;
}
.image2
{
    width: 250px;
    height: 250px;
}
hr
{
    border-top: 3px double #8c8b8b;
}
.figures
{
    display: inline-block;
}
.image3
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block;
}
.image4
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block;
}
.image5
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block;
}
.profile
{
    border-radius: 50%;
}

@media screen and (max-width: 1450px)
{
    body
    {
        display: flex;
        flex-direction: column;
    }
    .main-portion
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 1;
        padding-left: 50px;
        margin-left: 50px;
    }
    .asideportion
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 0;
        position: relative;
    }
    .profile
    {
        border-radius: 50%;
        vertical-align: middle;
    }
    .image3
    {
        border-radius: 50%;
        display: inline-block;
    }
    .image4
    {
        border-radius: 50%;
        display: inline-block;
    }
    .image5
    {
        border-radius: 50%;
        display: inline-block;
    }
    .profile
    {
        vertical-align: middle;
    }
    .image1
    {
        padding-left: 100px;
    }
    .h1
    {
        text-align: center;
        padding-left: 100px;
    }
    .info
    {
        text-align: center;
    }
}