#head{
    text-align: right;
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
}
#head2{
    text-align: right;
}
.image1{
    padding-bottom: 50px;
    float: left;
    display: inline-block;
}
.main-portion{
    width: 75%;
    float: right;
    padding-right: 50px;
    display: inline-block;
}
.subhead{
    float: right;
    display: inline-block;
    margin-top: 20px;
}
.first{
    margin-top: 20px;
    margin-bottom: 140px;
}
.asideportion{
    width: 20%;
    padding-top: 150px;
    display: inline-block;
}
.image2 {
width: 250px;
height: 250px;
}
hr{
    border-top: 3px double #8c8b8b;
}
.figures{
    display: inline-block;
}
.image3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block;
}
.profile{
    border-radius: 50%;
}

@media screen and (max-width: 1400px)
{
    .main-portion{
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 1;
        padding-left: 50px;
        margin-left: 50px;
    }
    .asideportion{
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 2;
        position: relative;
    }
    .profile{
        border-radius: 50%;
        vertical-align: middle;
    }
    .image3{
        text-align: center;
    }
    .profile{
        vertical-align: middle;
    }
    .image1{
        padding-left: 100px;
    }
    .h1{
        text-align: center;
        padding-left: 100px;
    }
    .info{
        text-align: center;
    }
}